.pagination {
  margin: 50px auto;
  text-align: center;
}

.pagination-button {
  text-align: center;
  border: none;
  border-radius: 16px;
  /* background-color: #4997e5; */
  background-image: linear-gradient(
    to right,
    #603cab 0,
    #f15a91 51%,
    #603cab 100%
  );
  transition: background-color 0.2s;
  color: white;
  cursor: pointer;
  margin: 10px;
  width: 44px;
  height: 34px;
}

.pagination-button:hover {
  background-color: #457cb2;
}

.pagination-button:focus {
  outline: none;
}

.pagination-button:disabled {
  background-color: #1f364d;
  cursor: not-allowed;
}

.pagination-info {
  font-size: 12px;
}
